<div id='content' class='snap-content'>
  <div class='jumbotron'>
    <div class='container'>
      <div id='parkResults' class='hidden'>
          {{stringify parks}}
      </div>
      <div class='row'>
        <div id='map' style='height:400px;'></div>
      </div>
    </div>
  </div>
</div>