<div id="content" class="snap-content">
  <div class="jumbotron">
    <div id="list" class="container">
      <h3>Welcome to Explorador</h3>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#">
          <img src="images/icons/Swipe_Right256.png">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <p>
          Explorador helps visitors, tourists, even longtime Haligonians explore the beautiful green spaces and parks all over HRM.
          <br>
          Use our slider menu to find parks by region or available activities.
          <br>
          Then  plan an adventure or trip to find out what HRM has to offer.
          <br>
          <br>
          To get started just swipe the screen to the right or tap the menu button above.
        </p>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div id="list" class="container">
    <div class="row">
      <h3>Region and Category Filters</h3>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a class="thumbnail" href="#">
          <img src="images/icons/tutRegionsCategories.png">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p>
          In the slider menu, you can select regions and categories that you’re interested in.
          <br>
          Categories with a '+' next to them can be expanded to allow more refined choices
          <br>
          Browse your results in a list, or click the "Map" button in the upper right corner to toggle to an interactive map.
        </p>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <a class="thumbnail" href="#">
            <img src="images/icons/tutorialMap.jpg">
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="jumbotron">
    <div id="list" class="container">
      <div class="row">
        <a href="https://play.google.com/store/apps/details?id=com.smu.cs.parkfinder">
          <img src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png">
        </a>
      </div>
    </div>
  </div>
</div>